/* Styles for the overall container */
.contact-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles for the main heading */
  .contact-us-container h1 {
    color: #333;
  }
  
  /* Styles for the form labels */
  .contact-us-container label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* Styles for the form inputs and textarea */
  .contact-us-container input,
  .contact-us-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles for the submit button */
  .contact-us-container button {
    background-color: #fd0061;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  /* Styles for the submit button on hover */
  .contact-us-container button:hover {
    background-color: #af0058;
  }
  
  /* Add more styles as needed */
  