/* Keyframes for background animation */
@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Apply background animation to the body */
body {
  animation: backgroundAnimation 10s linear infinite;
}

/* Rest of your existing styles */
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: 100vh;
}

.home-container h1 {
  color: #333;
}

.home-container h3 {
  color: #555;
  margin-bottom: 20px;
}

.home-button {
  color: #fff;
  background: #ff4b90;
  border-radius: 10px;
}

.home-button:hover {
  background: #af0058;
}