.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecb4ec;
    padding: 10px 20px;
    color: black;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .navbar-right button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .navbar-right button:hover {
    background-color: #fd0061;
  }
  
  .navbar-auth a {
    margin-right: 15px;
  }
  
  .logo {
    height : 55px; 
    width: 55px;
  }