/* Keyframes for background animation */
@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Apply background animation to the body */
body {
  animation: backgroundAnimation 10s linear infinite;
}

/* Rest of your existing styles */
.services-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.services-container h1 {
  color: #333;
}

.services-container h3 {
  color: #555;
  margin-bottom: 20px;
}

.services-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.button-container a {
  text-decoration: none;
}

.button-container img {
  width: 200px;
  height: auto;
  border: 1px solid #ff4b90;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.button-container img:hover {
  transform: scale(1.05);
}
